[2018-09-13 13:45] sangamcse opened #2 "Add all sorting algorithms"
- [x] Merge Sort
- [x] Insertion Sort
- [ ] ~Bubble Sort~
- [x] Quicksort
- [ ] ~Heapsort~
- [x] Counting Sort
- [x] Radix Sort

[2018-09-13 15:34] sangamcse opened #3 "Add extended euclidean-gcd algo"

[2018-09-14 20:32] codacy-bot opened #7 "Trailing whitespace"
### [Codacy](https://app.codacy.com/app/NITSkmOS/Algorithms/commit?cid=248207660) detected an issue:
#### Message: `Trailing whitespace`

#### Occurred on:
+ **Commit**:  dec58a2ed322ad0916bf1b91b6ea8b46169a323d
+ **File**:    [insertion_sort/Python/insertion_sort.py](https://github.com/NITSkmOS/Algorithms/blob/dec58a2ed322ad0916bf1b91b6ea8b46169a323d/insertion_sort/Python/insertion_sort.py)
+ **L

[2018-09-29 20:15] sangamcse opened #13 "[Algo] Bubble Sort [Python]"

[2018-09-29 20:17] sangamcse opened #14 "[Algo]: Add Heapsort in Python"

[2018-09-29 20:17] sangamcse commented on #2
Moved issue to https://github.com/NITSkmOS/Algorithms/issues/13 and https://github.com/NITSkmOS/Algorithms/issues/14

[2018-09-29 20:17] #2 closed

[2018-09-29 20:23] sangamcse opened #15 "[Algo]: Add euclidean-gcd in C"
Add division-based, recursive and extended Euclidean Algorithm using C.

[2018-09-29 20:23] sangamcse opened #16 "[Algo] Euclidean GCD [C++]"
Add division-based, recursive and extended Euclidean Algorithm using C++.

[2018-09-29 20:24] sangamcse opened #17 "[Algo]: Add euclidean-gcd in Java"
Add division-based, recursive and extended Euclidean Algorithm using Java.

[2018-09-29 20:26] sangamcse opened #18 "[Algo]: Add Bubble Sort in Java"

[2018-09-29 20:26] sangamcse opened #19 "[Algo]: Add Bubble Sort in C"

[2018-09-29 20:27] sangamcse opened #20 "[Algo]: Add Bubble Sort in C++"

[2018-09-29 20:28] sangamcse opened #21 "[Algo]: Add Heapsort in Java"

[2018-09-29 20:29] sangamcse opened #22 "[Algo]: Add Heapsort in C++"

[2018-09-29 20:29] sangamcse opened #23 "[Algo]: Add Heapsort in C"

[2018-09-29 20:30] sangamcse opened #24 "Remove `ISSUE_TEMPLATE`"
Remove `ISSUE_TEMPLATE` from `.github` directory.

[2018-09-29 20:43] sangamcse opened #25 "[DataStructure] Linear Linked List [Python]"

[2018-09-29 20:43] sangamcse opened #26 "[DataStructure] Linear Linked List [C]"

[2018-09-29 20:44] sangamcse opened #27 "[DataStructure] Linear Linked List [C++]"

[2018-09-29 20:44] sangamcse opened #28 "[DataStructure] Linear Linked List [Java]"

[2018-09-29 20:45] sangamcse opened #29 "[DataStructure] Doubly Linked List [Java]"

[2018-09-29 20:46] sangamcse opened #30 "[DataStructure] Doubly Linked List [Python]"

[2018-09-29 20:46] sangamcse opened #31 "[DataStructure] Doubly Linked List [C]"

[2018-09-29 20:48] sangamcse opened #32 "[DataStructure] Doubly Linked List [C++]"

[2018-09-29 20:49] sangamcse opened #33 "[DataStructure] Circular Linked List [Python]"

[2018-09-29 20:50] sangamcse opened #34 "[DataStructure] Circular Linked List [C]"

[2018-09-29 20:51] sangamcse opened #35 "[DataStructure] Circular Linked List [Java]"

[2018-09-29 20:51] sangamcse opened #36 "[DataStructure] Circular Linked List [C++]"

[2018-09-29 20:53] sangamcse opened #37 "[DataStructure] Stack [Python]"

[2018-09-30 09:14] sangamcse commented on #7
PR at https://github.com/NITSkmOS/Algorithms/pull/38

[2018-09-30 09:14] #7 closed

[2018-09-30 09:17] sangamcse opened #39 "[DataStructure] Stack [Java]"

[2018-09-30 10:12] sangamcse opened #40 "[DataStructure] Stack [C]"

[2018-09-30 10:13] sangamcse opened #41 "[DataStructure] Stack [C++]"

[2018-09-30 11:11] gunjan01 commented on #32
@sangamcse Do we have to implement a doubly linked list in C++? If yes, Can I take this up ?

[2018-09-30 11:14] sangamcse commented on #32
Sure. Also, read the commit guidelines https://github.com/NITSkmOS/Algorithms#contributing, before committing.

[2018-09-30 11:41] gunjan01 commented on #32
Received the invite. I have accepted.

[2018-09-30 14:48] flamespt commented on #24
The only thing to be done here is removing the ISSUE_TEMPLATE folder from .github? Can you assign to me?

[2018-09-30 15:33] Smirnoffq commented on #40
Hey, do you want just stack implementation in C?

[2018-09-30 16:27] sangamcse commented on #40
@Smirnoffq, yes, just push and pop operations for the stack.

[2018-09-30 16:32] shreyasbapat commented on #24
Solved in #42

[2018-09-30 16:35] sangamcse commented on #24
@shreyasbapat, reviewed it. 😉  Also, do ask for assignment before opening PR. Thank you.

[2018-09-30 16:54] shreyasbapat commented on #24
Yeah! Changed!

[2018-09-30 17:07] #24 closed

[2018-09-30 17:23] sangamcse opened #43 "[Algo] Binary Search [Python]"

[2018-09-30 17:24] sangamcse opened #44 "[Algo] Binary Search [C]"

[2018-09-30 17:24] sangamcse opened #45 "[Algo] Binary Search [C++]"

[2018-09-30 17:24] sangamcse opened #46 "[Algo] Binary Search [Java]"

[2018-09-30 17:26] sangamcse opened #47 "[Data Structure] AVL Tree [C]"

[2018-09-30 17:26] sangamcse opened #48 "[Data Structure] AVL Tree [C++]"

[2018-09-30 17:27] sangamcse opened #49 "[Data Structure] AVL Tree [Java]"

[2018-09-30 17:28] sangamcse opened #50 "[Data Structure] AVL Tree [Python]"

[2018-09-30 17:29] sangamcse opened #51 "[Data Structure] Binary Search Tree [Python]"

[2018-09-30 17:29] sangamcse opened #52 "[Data Structure] Binary Search Tree [Java]"

[2018-09-30 17:29] sangamcse opened #53 "[Data Structure] Binary Search Tree [C]"

[2018-09-30 17:30] sangamcse opened #54 "[Data Structure] Binary Search Tree [C++]"

[2018-09-30 17:33] sangamcse opened #55 "[Data Structure] Queue [Python]"

[2018-09-30 17:33] sangamcse opened #56 "[Data Structure] Queue [C]"

[2018-09-30 17:34] sangamcse opened #57 "[Data Structure] Queue [Java]"

[2018-09-30 17:35] sangamcse opened #58 "[Data Structure] Queue [C++]"

[2018-09-30 18:05] Smirnoffq commented on #40
Sure, will make it soon ;)

[2018-09-30 18:06] flamespt commented on #18
Can this issue be assign to me?

[2018-09-30 18:32] sangamcse opened #62 "[Algo] Insertion Sort [C++]"

[2018-09-30 18:32] sangamcse opened #63 "[Algo] Insertion Sort [Java]"

[2018-09-30 18:34] sangamcse commented on #18
Assigned 😃 @flamespt

[2018-09-30 18:41] arc9693 commented on #26
I would like to work on this.

[2018-09-30 18:46] Ankurk99 commented on #62
[code]

[2018-09-30 18:48] salif-04 commented on #63
Doing it..

[2018-09-30 18:49] prince8809 commented on #62
C++
`#include<bits/stdc++.h>
using namespace std;
#define fori(x,n) for(int i=x;i<n;i++)
void insertionsort(int arr[],int n)
{
    for(int i=1;i<10;i++)
    {
        int temp;
        temp=arr[i];
        int x;
        for(int j=i;j>=0;j--)
        {
            if(temp<=arr[j])
             {
              arr[j]=arr[j-1];
              x=j;
             }
        }
        arr[x]=temp;
    }
}

[2018-09-30 18:51] sangamcse commented on #63
Welcome.
Before doing any changes, kindly read contribution guidelines.

[2018-09-30 18:51] salif-04 commented on #63
Sure.

[2018-09-30 18:58] Ankurk99 commented on #62
I want to work on this.

[2018-09-30 19:07] swapsha96 commented on #43
The output of given example:
[code]

[2018-09-30 19:09] salif-04 commented on #57
Doing it.

[2018-09-30 19:16] salif-04 commented on #63
Can you please explain me the commit message part

[2018-09-30 19:36] #43 closed

[2018-09-30 19:37] #62 closed

[2018-09-30 19:59] #26 closed

[2018-09-30 20:15] #20 closed

[2018-09-30 20:33] salif-04 commented on #57
Can i add this to my existing branch h[ttps://github.com/salif-04/Algorithms-1/tree/insertion_sort_java](url)

[2018-09-30 20:33] salif-04 commented on #57
Or have to create a different branch??

[2018-09-30 20:36] sangamcse commented on #63
@salif-04 https://github.com/NITSkmOS/Algorithms/blob/master/CONTRIBUTING.md#write-good-commit-messages

[2018-09-30 20:39] sangamcse commented on #57
The link is not showing any relevant thing.

[2018-09-30 20:45] salif-04 commented on #57
Oops!! Sorry..

Check now [this branch](https://github.com/salif-04/Algorithms-1/tree/insertion_sort_java)

[2018-09-30 21:04] srsandy commented on #57
Can i slove it

[2018-09-30 21:10] swapsha96 opened #95 "Spelling correction in quicksort.py"
It was bothering me. (I have mild OCD). 😄
I have created a PR that corrects the spelling of 'function'.

[2018-09-30 21:13] swapsha96 commented on #95
@sangamcse

[2018-09-30 23:52] sourabh1031 commented on #25
@sangamcse Hello i would like to work on this issue.I think what is expected from me is to implement linear linked list in python isn't?

[2018-10-01 03:57] RohanGoyal2014 commented on #16
I am on it!

[2018-10-01 05:44] shobhamrj commented on #23
working on it

[2018-10-01 05:46] RohanGoyal2014 commented on #16
what do you mean by division based? Euclidian gcd always works on division lemma . Do you mean something else?

[2018-10-01 10:40] deepanshu-jain1999 commented on #54
I wanna work on this issue.

[2018-10-01 11:49] puneet29 commented on #45
@sangamcse What am I supposed do next to close this issue?

[2018-10-01 12:06] gabrieldluca commented on #51
I'll take this!

[2018-10-01 12:14] moximo13 commented on #13
add bubblesort in python #113

[2018-10-01 12:16] sangamcse commented on #13
Do not open PR without the assignment. There are multiple PR for one issue and I'm going to reject them all.

[2018-10-01 12:31] misteraverin commented on #30
@sangamcse can i take this issue?)

[2018-10-01 13:00] sangamcse commented on #30
Sure. Don't forget to go through contribution guidelines. Thanks.

[2018-10-01 13:03] sangamcse commented on #45
Reviewed.

[2018-10-01 13:04] misteraverin commented on #30
@sameerchoubey could you please assign task to me?

[2018-10-01 13:06] sangamcse commented on #30
I have sent you the invitation. Please accept it.

[2018-10-01 13:06] sangamcse commented on #30
Done

[2018-10-01 14:49] hargoniX commented on #39
I'd like to implement this data structure.

[2018-10-01 14:57] RohanGoyal2014 commented on #16
Above pr lacks extended euclidean analysis.

[2018-10-01 15:00] RohanGoyal2014 commented on #16
#109

[2018-10-01 15:00] prabhupant commented on #56
please look at my PR https://github.com/NITSkmOS/Algorithms/pull/123

[2018-10-01 15:03] RohanGoyal2014 commented on #16
#109 Complete Code with Euclidean Analysis

[2018-10-01 15:09] aneels3 commented on #17
I am on this.

[2018-10-01 16:56] #95 closed

[2018-10-01 17:37] puneet29 commented on #45
@sangamcse Please review again?

[2018-10-01 18:11] TheGamer007 commented on #47
I'd like to take this up

[2018-10-01 18:29] Rishik1504 commented on #33
I will do this!

[2018-10-01 18:35] sangamcse commented on #33
@Rishik1504 Kindly go through contribution guidelines before any changes.

[2018-10-01 18:36] sangamcse commented on #47
@TheGamer007 Kindly go through contribution guidelines before any changes.

[2018-10-01 18:49] #39 closed

[2018-10-01 19:41] sangamcse opened #133 "[Algo] Shell Sort [Python]"
https://en.wikipedia.org/wiki/Shellsort

[2018-10-01 19:41] sangamcse commented on #133
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-10-01 19:42] sangamcse opened #134 "[Algo] Shell Sort [Java]"
https://en.wikipedia.org/wiki/Shellsort

[2018-10-01 19:42] sangamcse opened #135 "[Algo] Shell Sort [C]"
https://en.wikipedia.org/wiki/Shellsort

[2018-10-01 19:46] sangamcse commented on #135
@gitmate-bot

[2018-10-01 19:53] JonathanGin52 commented on #133
I'll take this one!

[2018-10-01 19:59] sangamcse commented on #133
@JonathanGin52, sorry, this one is already taken by @anubhav4sachan. Choose another. Thank you.

[2018-10-01 19:59] JonathanGin52 commented on #134
I'll take this one :)

[2018-10-01 19:59] TheGamer007 commented on #47
I plan to include insertion, deletion, and in-order traversal, along with some utility methods required for implementing them. Would you like me to include any other operations on the DS?

[2018-10-01 20:00] sangamcse commented on #134
Do follow the contribution guidelines before opening PR

[2018-10-01 20:03] sangamcse commented on #47
Include pre and post traversal also. And don't forget to comment code and Update Readme table.

[2018-10-01 20:09] bihanviranga commented on #135
Shall I start on this one?

[2018-10-01 20:11] sangamcse commented on #135
Sure. Please go through the commit guidelines before opening PR.

[2018-10-01 20:12] bihanviranga commented on #135
Thank you. Can you please assign this to me?

[2018-10-01 20:41] #45 closed

[2018-10-01 20:50] #15 closed

[2018-10-01 21:07] #133 closed

[2018-10-02 00:51] rugglcon commented on #28
I will do this one

[2018-10-02 04:47] EhsanKia commented on #55
Python's has a queue, `from collections import deque`

[2018-10-02 05:54] sangamcse commented on #55
@EhsanKia, that's not the motto of this repository. Python and Java have almost every DS's library and we are not going to do that from those libraries.

[2018-10-02 06:16] #37 closed

[2018-10-02 06:27] sangamcse commented on #47
@TheGamer007, I have sent you an invitation. Accept it so that I can assign you the issue.

[2018-10-02 06:48] 123vivekr opened #145 "[Algo] Selection Sort [C]"
https://en.wikipedia.org/wiki/Selection_sort

[2018-10-02 06:49] 123vivekr commented on #19
@sangamcse Please assign this to me

[2018-10-02 06:50] 123vivekr commented on #145
I would like to implement this. Please assign this to me.

[2018-10-02 06:53] 123vivekr opened #146 "[Algo] Quick Sort [C]"
https://en.wikipedia.org/wiki/Quicksort

[2018-10-02 06:53] 123vivekr commented on #146
I would like to implement this. Please assign this to me.

[2018-10-02 07:16] sangamcse commented on #19
@123vivekr, Accept the invitation so that I can assign you this issue.

[2018-10-02 07:26] #47 closed, assigned to nobody

[2018-10-02 07:55] 123vivekr opened #147 "[Algo] Merge Sort [C]"
https://en.wikipedia.org/wiki/Merge_sort

[2018-10-02 07:55] 123vivekr commented on #147
Please assign this to me

[2018-10-02 07:56] sangamcse commented on #147
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/146 ([Algo] Quick Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/23 ([Algo]: Add Heapsort in C), https://github.com/NITSkmOS/Algorithms/issues/44 ([Algo] Binary Search [C]), and https://github.com/

[2018-10-02 07:59] 123vivekr commented on #147
@sangamcse I did not understand your last message.
Merge Sort for C is not implemented nor there is any issue up for its implementation AFAIK

[2018-10-02 08:07] sangamcse commented on #147
Don't worry about that. I have already assigned you for the issue. That message is just bot analysis of whole repository.

[2018-10-02 08:13] #19 closed

[2018-10-02 08:15] anubhav4sachan commented on #13
I want to take it. @sangamcse bhaiya, Can you assign it to me?

[2018-10-02 08:17] sangamcse commented on #13
@anubhav4sachan, @swapsha96 has already done in #85 PR

[2018-10-02 09:12] udayvig opened #149 "[Algo] Merge Sort [Java]"
https://en.wikipedia.org/wiki/Merge_sort

Please assign this to me.

[2018-10-02 09:13] sangamcse commented on #149
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/21 ([Algo]: Add Heapsort in Java), https://github.com/NITSkmOS/Algorithms/issues/46 ([Algo] Binary Search [Java]), https://github.com/NITSkmOS/Algorithms/issues/18 ([Algo]: Add Bubble Sort in Java), https://github.com/NITSkmOS/Algorithms/issues/63 ([Algo] Insertion Sort [Java]), and ht

[2018-10-02 09:13] udayvig opened #150 "[Algo] Quick Sort [Java]"
https://en.wikipedia.org/wiki/Quicksort

Please assign this to me.

[2018-10-02 09:14] sangamcse commented on #150
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/18 ([Algo]: Add Bubble Sort in Java), https://github.com/NITSkmOS/Algorithms/issues/46 ([Algo] Binary Search [Java]), https://github.com/NITSkmOS/Algorithms/issues/21 ([Algo]: Add Heapsort in Java), and https

[2018-10-02 09:37] thekaleidoscope commented on #3
Can I pick this up?

[2018-10-02 09:45] vishnoitanuj commented on #149
I have added a PR to Mere sort in java. Please check it. Thanks for involving participation @udayvig

[2018-10-02 09:51] 7vikpeculiar commented on #21
Can I take this up ?

[2018-10-02 09:53] 7vikpeculiar commented on #41
Can I take this up ?

[2018-10-02 09:54] vishnoitanuj commented on #150
I have added a PR to this issue. Please check it. Thanks for giving the opportunity to participate!!

[2018-10-02 10:36] beingadityak commented on #55
Hey @sangamcse , I'll start work on this issue and submit a PR by today :)

[2018-10-02 10:46] udayvig commented on #150
I opened these issues for myself, was waiting to be assigned before which you added the PR.

[2018-10-02 10:48] udayvig opened #153 "[Algo] Insertion Sort [Java]"
https://en.wikipedia.org/wiki/Insertion_sort

[2018-10-02 10:49] sangamcse commented on #153
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/63 ([Algo] Insertion Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/46 ([Algo] Binary Search [Java]), and https://gi

[2018-10-02 11:39] sangamcse opened #156 "Add Git Basic Tutorial for newcomer"

[2018-10-02 11:40] sangamcse commented on #156
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/NITSkmOS/Algorithms/issues/2 (Add all sorting algorithms).

[2018-10-02 11:45] #156 closed

[2018-10-02 11:52] sangamcse commented on #55
@beingadityak, please, do not open PR if someone asked earlier and they are working on it

[2018-10-02 11:55] sangamcse commented on #153
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/63

[2018-10-02 11:55] #153 closed

[2018-10-02 11:58] sangamcse commented on #150
@udayvig, Please read Contribution guidelines before opening any PR.

[2018-10-02 12:00] sangamcse commented on #150
@vishnoitanuj and @udayvig, ask for assignment before starting working on any issue. Read the contribution guideline before contribution to any organisation.

[2018-10-02 12:03] Divyansh00 commented on #54
Please assign this to me

[2018-10-02 12:04] Divyansh00 commented on #44
Please assign this to me

[2018-10-02 12:05] Divyansh00 commented on #36
Please assign the issue to me

[2018-10-02 12:16] sangamcse opened #159 "Add gitter badge"
Add [![Gitter](https://badges.gitter.im/NITSkmOS/algo.svg)](https://gitter.im/NITSkmOS/algo?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge) badge in README

[2018-10-02 12:17] beingadityak commented on #55
Actually, I saw that this issue was unassigned but didn't saw that someone's working on this. I am sorry and will take care of this next time.

[2018-10-02 12:17] sangamcse commented on #159
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/2 (Add all sorting algorithms), https://github.com/NITSkmOS/Algorithms/issues/3 (Add extended euclidean-gcd algo), https://github.com/NITSkmOS/Algorithms/issues/21 ([Algo]: Add Heapsort in Java), https://github.com/NITSkmOS/Algorithms/issues/156 (Add Git Basic Tutorial for newcomer), a

[2018-10-02 12:19] beingadityak commented on #159
Hi @sangamcse , can I work on this task?

[2018-10-02 12:50] beingadityak commented on #50
Should I implement this in Python3 or in Python2?

[2018-10-02 12:58] sangamcse commented on #50
Python3 is preferable @beingadityak

[2018-10-02 13:33] sangamcse commented on #63
@salif-04 I have sent you an invitation. Accept it so that I can assign you.

[2018-10-02 13:35] sangamcse commented on #57
@salif-04, create different branch

[2018-10-02 13:37] sangamcse commented on #56
@prabhupant there are few comments you need to solve first.

[2018-10-02 14:05] salif-04 commented on #63
Accepted the invitataion.

[2018-10-02 15:05] beingadityak commented on #50
I have added the code in #169 . Please review and merge.

[2018-10-02 15:28] udayvig commented on #149
Oh, I must have missed that. Sorry.

[2018-10-02 15:38] udayvig commented on #150
I did read them, will read them more carefully from now on. Sorry for the inconvenience caused.

[2018-10-02 15:41] Deepak345 opened #174 "[Algo] Radix Sort [Java]"

[2018-10-02 15:43] sangamcse commented on #174
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/150 ([Algo] Quick Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/18 ([Algo]: Add Bubble Sort in Java), https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), and https://githu

[2018-10-02 15:54] iremlaya commented on #35
Will do it.

[2018-10-02 15:55] iremlaya commented on #57
Will do it.

[2018-10-02 15:55] iremlaya commented on #52
On it!

[2018-10-02 16:25] #17 closed, assigned to nobody

[2018-10-02 16:56] sangamcse commented on #28
@rugglcon accept invitation. only then the issue will be assigned to you.

[2018-10-02 17:01] rugglcon commented on #28
Okay I accepted the invitation

[2018-10-02 17:18] aneels3 opened #181 "[Algo] Dijkstra’s Shortest Path Algorithm [C]"

[2018-10-02 17:18] aneels3 opened #182 "[Algo] Dijkstra’s Shortest Path Algorithm [Java]"

[2018-10-02 17:19] aneels3 opened #183 "[Algo] Dijkstra’s Shortest Path Algorithm [Python]"

[2018-10-02 17:19] sangamcse commented on #181
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/146 ([Algo] Quick Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/44 ([Algo] Binary Search [C]), and https://github.com/NIT

[2018-10-02 17:20] sangamcse commented on #182
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/181 ([Algo] Dijkstra’s Shortest Path Algorithm [C]), https://github.com/NITSkmOS/Algorithms/issues/150 ([Algo] Quick Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/63 ([Algo] Insertion Sort [Java

[2018-10-02 17:20] sangamcse commented on #183
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/13 ([Algo]: Add Bubble Sort in python), https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Search [Python]), https://github.com/NITSkmOS/Algorithms/issues/181 ([Algo] Dijkstra’s Shortest Path Algorithm [C]), and https://github.com/NITSkmOS/Algorithms/issues/182 ([Algo] Dij

[2018-10-02 17:40] #14 closed

[2018-10-02 17:50] thakurdivyanshu opened #186 "euclidean_gcd in c++"
euclidean__gcd is there in c & java only. It should be there in c++ as well !!

[2018-10-02 17:51] thakurdivyanshu commented on #186
can i work on this??

[2018-10-02 17:51] sangamcse commented on #186
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/16 ([Algo]: Add euclidean-gcd in C++), https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), https://github.com/NITSkmOS/Algorithms/issues/41 ([DataStructure] Stack [C++]), https://github.com/NITSkmOS/Algorithms/issues/27 ([DataStructure] Linear Linked List

[2018-10-02 18:03] RohitAg13 commented on #183
I would like to solve this

[2018-10-02 18:08] thakurdivyanshu opened #188 "binary-search in c"
Binary search is implemented only in c++ and java so, it will be good to have implementation in c as well !!

[2018-10-02 18:09] sangamcse commented on #188
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/44 ([Algo] Binary Search [C]), https://github.com/NITSkmOS/Algorithms/issues/40 ([DataStructure] Stack [C]), https://github.com/NITSkmOS/Algorithms/issues/53 ([Data Structure] Binary Search Tree [C]), https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), and https:

[2018-10-02 18:11] Tchinmai7 commented on #188
I'll take this

[2018-10-02 18:40] victoni commented on #182
I'd like to do this

[2018-10-02 19:20] vishnoitanuj commented on #150
Okay sorry sir. Had not read the contribution guidelines.
Sorry for the inconvenience caused.

On Tue, 2 Oct 2018, 5:30 p.m. Sangam Kumar, <notifications@github.com>
wrote:

[2018-10-02 22:39] sangamcse commented on #188
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/44

[2018-10-02 22:39] #188 closed

[2018-10-02 22:40] sangamcse commented on #186
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/16

[2018-10-02 22:40] #186 closed

[2018-10-02 23:00] sangamcse opened #199 "Start Travis Build"
Major changes in the repo.

[2018-10-02 23:33] #199 closed

[2018-10-03 03:18] bihanviranga commented on #27
If this is no longer assigned to anyone, shall I start on it? Please assign me.

[2018-10-03 11:34] #50 closed

[2018-10-03 11:40] sangamcse opened #209 "Remove Codacy Badge and Include Travis Badge in README"
Travis Badge
[code]

[2018-10-03 11:40] sangamcse opened #210 "Include Issue assignment process in README"

[2018-10-03 11:41] sangamcse commented on #209
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/24 (Remove `ISSUE_TEMPLATE`), and https://github.com/NITSkmOS/Algorithms/issues/199 (Start Travis Build).

[2018-10-03 11:42] sangamcse commented on #210
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/NITSkmOS/Algorithms/issues/209 (Remove Codacy Badge and Include Travis Badge in README).

[2018-10-03 12:29] sangamcse commented on #54
@deepanshu-jain1999 are you still working on this?

cc @Divyansh00, remind me if he is not replying in 1 or 2 days

[2018-10-03 12:31] sangamcse commented on #183
@RohitAg13 I have sent you an invitation. Remind me once you accept it so that I can assign you.

Remind me on gitter https://gitter.im/NITSkmOS/algo

[2018-10-03 12:55] nick41746 opened #214 "[Data Structure] Fenwick Tree [CPP]"
https://en.wikipedia.org/wiki/Fenwick_tree

I want to implement this data structure in cpp.

[2018-10-03 12:57] sangamcse commented on #214
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/47 ([Data Structure] AVL Tree [C]), https://github.com/NITSkmOS/Algorithms/issues/56 ([Data Structure] Queue [C]), https://github.com/NITSkmOS/Algorithms/issues/50 ([Data Structure] AVL Tree [Python]), https://github.com/NITSkmOS/Algorithms/issues/53 ([Data Structure] Binary Search Tre

[2018-10-03 13:03] abhishalya commented on #214
I could implement this :)
Can you assign this issue to me?

[2018-10-03 13:11] halderjoydeep opened #215 "[Algorithm] Maximum SubArray Problem [Python]"
I want to implement Maximum SubArray problem in Python. May  I proceed?

[2018-10-03 13:12] sangamcse commented on #215
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/183 ([Algo] Dijkstra’s Shortest Path Algorithm [Python]), https://github.com/NITSkmOS/Algorithms/issues/37 ([DataStructure] Stack [Python]), https://github.com/NITSkmOS/Algorithms/issues/2 (Add all sorting algorithms), https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Sea

[2018-10-03 13:58] SnowyCoder opened #218 "[Data Structure] Fenwick Tree [Java]"
The FenwickTree is a data structure for O(log(n)) updates and queries that answers both point-update and range-query questions, find out more here: https://en.wikipedia.org/wiki/Fenwick_tree
It would be nice to have this data structure implemented in Java (that is used a lot in programming contexts)

[2018-10-03 14:00] sangamcse commented on #218
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/214 ([Data Structure] Fenwick Tree [CPP]), https://github.com/NITSkmOS/Algorithms/issues/49 ([Data Structure] AVL Tree [Java]), https://github.com/NITSkmOS/Algorithms/issues/52 ([Data Structure] Binary Search Tree [Java]), https://github.com/NITSkmOS/Algorithms/issues/57 ([Data Structu

[2018-10-03 14:04] paawan01 commented on #54
I'd like to work on this. Please let me know in case both @deepanshu-jain1999 and @Divyansh00 both don't respond :P

[2018-10-03 14:06] paawan01 commented on #55
Can I work on this or you're on it @beingadityak ?

[2018-10-03 14:08] paawan01 commented on #209
I'd volunteer for this !

[2018-10-03 14:09] paawan01 commented on #48
Can I take this ?

[2018-10-03 14:10] SnowyCoder opened #220 "[Data Structure] Fenwick Tree [Python]"
The FenwickTree is a data structure for O(log(n)) updates and queries that answers both point-update and range-query questions, find out more here: https://en.wikipedia.org/wiki/Fenwick_tree
It would be nice to have this data structure implemented in Python.

[2018-10-03 14:12] sangamcse commented on #220
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/50 ([Data Structure] AVL Tree [Python]), https://github.com/NITSkmOS/Algorithms/issues/214 ([Data Structure] Fenwick Tree [CPP]), https://github.com/NITSkmOS/Algorithms/issues/51 ([Data Structure] Binary Search Tree [Python]), https://github.com/NITSkmOS/Algorithms/issues/55 ([Data Str

[2018-10-03 14:12] paawan01 commented on #33
Are you on this @Rishik1504 ?

[2018-10-03 14:22] paawan01 opened #222 "[Algo] Radix Sort [C++]"
https://en.wikipedia.org/wiki/Radix_sort

[2018-10-03 14:22] paawan01 commented on #222
I'd like to take this up for C++.

[2018-10-03 14:28] Rishik1504 commented on #33
Yes. I will make a PR tonight.

[2018-10-03 14:42] beingadityak commented on #55
@paawan01 I am not working on this. Feel free to take this task

[2018-10-03 14:54] AkshayGupt opened #223 "[Algo] Selection Sort [java]"
Selection Sort is used to sort different elements in Java.

[2018-10-03 14:56] sangamcse commented on #223
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/150 ([Algo] Quick Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/46 ([Algo] Binary Search [Java]), https://github.com/NITSkmOS/Algorithms/issues/134 ([Algo] Shell Sort [Java]), and https://github

[2018-10-03 15:46] paawan01 commented on #55
Thanks @beingadityak !
@sangamcse Can you assign it to me.

[2018-10-03 15:57] sangamcse commented on #215
Where is the reference of the Algo? Like wiki or any other.

[2018-10-03 16:00] halderjoydeep commented on #215
Here is the reference of maximum subarray problem.
[https://en.wikipedia.org/wiki/Maximum_subarray_problem](url)

[2018-10-03 16:02] udaykiranreddykondreddy commented on #215
I submitted a PR but Labelled as Invalid please check

[2018-10-03 16:05] #135 closed

[2018-10-03 16:19] sangamcse commented on #215
@udaykiranreddykondreddy because you opened a PR without asking any assignment of issue and @halderjoydeep has already asked for the assignment first https://github.com/NITSkmOS/Algorithms/issues/215#issue-366332014

[2018-10-03 16:20] sangamcse commented on #215
@halderjoydeep go through the contribution guidelines before opening a PR

[2018-10-03 16:30] tanseersaji opened #234 "[Data Structure] Skip List Python"
Skip list is a probabilistic data structure that allows efficient search, insertion and removal operations.
It allows fast search within an ordered sequence of elements, O(log(n)) complexity.
 Wikipedia Page: https://en.wikipedia.org/wiki/Skip_list

[2018-10-03 16:32] sangamcse commented on #234
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/55 ([Data Structure] Queue [Python]), https://github.com/NITSkmOS/Algorithms/issues/51 ([Data Structure] Binary Search Tree [Python]), https://github.com/NITSkmOS/Algorithms/issues/220 ([Data Structure] Fenwick Tree [Python] ), https://github.com/NITSkmOS/Algorithms/issues/25 ([DataStr

[2018-10-03 16:33] udaykiranreddykondreddy commented on #215
sorry

[2018-10-03 16:39] beingadityak commented on #25
PR #235 is created for closing this issue. @sangamcse, can you please review the same?

[2018-10-03 17:27] sangamcse commented on #214
@abhishalya, @nick41746 asked for the assignment first.

[2018-10-03 17:28] beingadityak opened #238 "[Algo] Coin Change Problem [Python]"
Implementing Coin Change problem using Dynamic Programming technique in Python
More details can be found in: https://en.wikipedia.org/wiki/Change-making_problem

[2018-10-03 17:29] sangamcse commented on #238
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/13 ([Algo]: Add Bubble Sort in python), https://github.com/NITSkmOS/Algorithms/issues/14 ([Algo]: Add Heapsort in Python), https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Search [Python]), https://github.com/NITSkmOS/Algorithms/issues/215 ([Algorithm] Maximum SubArray P

[2018-10-03 17:30] beingadityak commented on #238
As this issue is assigned to me, I'll start my work on this.

[2018-10-03 17:32] sangamcse commented on #55
@paawan01, a PR for this issue is already open at https://github.com/NITSkmOS/Algorithms/pull/84.
Ask @SabariVig if he is working on it anymore or not.

[2018-10-03 17:33] sangamcse commented on #223
@AkshayGupt any reference for the issue?

[2018-10-03 17:34] sangamcse commented on #223
Feel free to ping on gitter https://gitter.im/NITSkmOS/algo

[2018-10-03 17:35] beingadityak commented on #209
@paawan01 are you working on this? If not, then @sangamcse can you please assign this to me?

[2018-10-03 17:36] sangamcse commented on #33
In case I forget to assign, feel free to ping me on gitter https://gitter.im/NITSkmOS/algo

[2018-10-03 17:38] sangamcse commented on #48
@paawan01, I have sent you an invitation. Accept it so that I can assign you the issue. In case I forget it, feel free to ping me on gitter https://gitter.im/NITSkmOS/algo

[2018-10-03 17:39] SaashaJoshi opened #240 "[Algo] Optimize bubble_sort.cpp"
Optimization of code.

[2018-10-03 17:39] sangamcse commented on #209
Wait for @paawan01 reply. Remind me on gitter.

[2018-10-03 17:40] sangamcse commented on #240
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), https://github.com/NITSkmOS/Algorithms/issues/45 ([Algo] Binary Search [C++]), https://github.com/NITSkmOS/Algorithms/issues/222 ([Algo] Radix Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/22 ([Algo]: Add Heapsort in C++), and https://g

[2018-10-03 18:57] paawan01 commented on #209
@beingadityak Yup. I'll be making a PR soon.

[2018-10-03 19:06] paawan01 commented on #48
Thanks for the invitation. I have accepted it !

[2018-10-03 19:39] MystikNinja commented on #240
What kind of optimizations are you thinking of here exactly?

[2018-10-03 20:24] NeelavaChatterjee opened #247 "[Algo] Insersion Sort [C]"
Please assign this to me.
https://en.wikipedia.org/wiki/Insertion_sort

[2018-10-03 21:02] joao-p-marques opened #250 "[Algo] Quick Sort [C++]"
Hi!
Can you assign this to me, please?

[2018-10-03 21:03] Raamyy opened #251 "[Data Structure] Stack in C++"
I will go on implementing it :v:

[2018-10-03 21:03] sangamcse commented on #250
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/222 ([Algo] Radix Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), https://github.com/NITSkmOS/Algorithms/issues/45 ([Algo] Binary Search [C++]), https://github.com/NITSkmOS/Algorithms/issues/22 ([Algo]: Add Heapsort in C++), and https://g

[2018-10-03 21:04] sangamcse commented on #251
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/58 ([Data Structure] Queue [C++]), https://github.com/NITSkmOS/Algorithms/issues/41 ([DataStructure] Stack [C++]), https://github.com/NITSkmOS/Algorithms/issues/54 ([Data Structure] Binary Search Tree [C++]), https://github.com/NITSkmOS/Algorithms/issues/48 ([Data Structure] AVL Tree [

[2018-10-04 03:35] megamayoy opened #258 "[Algo] Merge Sort [C++]"
https://en.wikipedia.org/wiki/Merge_sort

[2018-10-04 03:36] megamayoy commented on #258
I would like to start working on this.  Will you please assign it to me ?

[2018-10-04 03:36] sangamcse commented on #258
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/250 ([Algo] Quick Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/62 ([Algo] Insertion Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/222 ([Algo] Radix Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), and https://git

[2018-10-04 03:44] d3vil0p3r commented on #258
@megamayoy I'm doing it 👍

[2018-10-04 03:45] megamayoy commented on #258
@d3vil0p3r

 did the repo maintainers assign it to you ?

[2018-10-04 04:50] sangamcse commented on #258
@d3vil0p3r Read others comments also before opening a PR. @megamayoy has claimed the issue first.

[2018-10-04 04:59] sangamcse commented on #251
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/41

[2018-10-04 04:59] #251 closed

[2018-10-04 05:11] #240 closed

[2018-10-04 05:41] #209 closed

[2018-10-04 05:54] mariush2 commented on #13
Please assign me this issue

[2018-10-04 05:57] sangamcse commented on #13
@mariush2 the issue is already assigned to @swapsha96. Find some unassigned issues.

[2018-10-04 06:00] mariush2 opened #263 "[Request] Add Julia as a supported language"
This is a request to add Julia as one of the supported languages in this repo

[2018-10-04 06:01] sangamcse commented on #263
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/159 (Add gitter badge), https://github.com/NITSkmOS/Algorithms/issues/2 (Add all sorting algorithms), https://github.com/NITSkmOS/Algorithms/issues/23 ([Algo]: Add Heapsort in C), https://github.com/NITSkmOS/Algorithms/issues/21 ([Algo]: Add Heapsort in Java), and https://github.com/NI

[2018-10-04 06:06] sangamcse commented on #263
@mariush2 Definitely we can do this. What we have to do is:
1. Add a column in README table
2. Add in [Sample Run](https://github.com/NITSkmOS/Algorithms#sample-run)
3. Add the dependency requirement if any
4. Add to the .misc file
5. Check coala-bears which we can include in .coafile
6. Include in .editorconfig

[2018-10-04 06:12] sangamcse commented on #182
@victoni I have sent you an invitation. Accept it and then remind me to assign you on gitter https://gitter.im/NITSkmOS/algo

[2018-10-04 06:38] sangamcse commented on #41
@7vikpeculiar a PR is opened for this issue by @radusqrt. Please ask @radusqrt.
Also https://gitter.im/NITSkmOS/algo will be easy for me to find all requests

[2018-10-04 06:41] sangamcse commented on #16
@RohanGoyal2014 I have sent you an invitation. Accept it and ping on https://gitter.im/NITSkmOS/algo for your PR. Also, fix the commented issue in your PR.

[2018-10-04 06:57] udaykiranreddykondreddy opened #265 "sieve of eratosthenes python code"
https://en.wikipedia.org/wiki/Sieve_of_Eratosthenes

[2018-10-04 06:58] sangamcse commented on #265
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/37 ([DataStructure] Stack [Python]), https://github.com/NITSkmOS/Algorithms/issues/55 ([Data Structure] Queue [Python]), https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Search [Python]), https://github.com/NITSkmOS/Algorithms/issues/234 ([Data Structure] Skip List [Pyth

[2018-10-04 07:18] sangamcse commented on #265
@udaykiranreddykondreddy can you please read contribution guideline before opening any PR to any Organisation. That's rude that you don't follow one's rule that is made to keep consistency in repo.

[2018-10-04 07:34] udaykiranreddykondreddy commented on #265
I'm sorry i will read all the guideline and do my next pr

[2018-10-04 08:45] buddhikac96 commented on #220
i'm work on this issue

[2018-10-04 08:56] gunanksood commented on #265
Hey, i want to work on this issue.
Please assign.

[2018-10-04 09:30] sangamcse commented on #265
@gunanksood the issue is already assigned to someone. Find unassigned issue.

[2018-10-04 09:30] gunanksood commented on #265
ok @sangamcse

[2018-10-04 09:31] sanghisha145 commented on #234
will do this.

[2018-10-04 09:37] sanghisha145 commented on #220
Can I work on this?

[2018-10-04 09:39] gunanksood commented on #54
Hey please assign me this issue @sangamcse

[2018-10-04 09:43] sangamcse commented on #54
@gunanksood there are multiple comments. Read them. They also want to work on this.
ping @deepanshu-jain1999, @Divyansh00 reply if you want to work on this. Otherwise, it will be assigned to @paawan01 or @gunanksood based on their interest.

[2018-10-04 09:43] gunanksood commented on #41
hey please assign this issue @sangamcse

[2018-10-04 09:44] sangamcse commented on #220
@buddhikac96 and @sanghisha145 you can see that there is one PR open for this issue. So please find unassigned issue.

[2018-10-04 09:56] sanghisha145 commented on #220
@sangamcse can you tell how to find unassigned issue, since I checked Issues and under Assignee, when I clicked on Assigned to Nobody, but still someone has already submitted their code. ?

[2018-10-04 10:00] amrtaher1234 commented on #258
I will do it
how to assign myself to an issue? I'm new here 🗡

[2018-10-04 10:02] joao-p-marques opened #270 "[Algo] Shell Sort [C++]"
https://en.wikipedia.org/wiki/Shellsort

[2018-10-04 10:02] joao-p-marques commented on #270
Can you assign this to me, please?

[2018-10-04 10:03] sangamcse commented on #270
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/250 ([Algo] Quick Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/222 ([Algo] Radix Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/258 ([Algo] Merge Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), and https://github

[2018-10-04 10:04] gunanksood commented on #55
Please assign this issue @sangamcse

[2018-10-04 12:52] zeddmaxx commented on #247
Hey, can I work on this?

[2018-10-04 12:57] NeelavaChatterjee commented on #247
@zeddmaxx  Sorry, I am already working on it and its near completion.

[2018-10-04 13:03] zeddmaxx commented on #146
Hey, can I work on this?

[2018-10-04 13:49] frankxayachack commented on #18
can i do this one? is @flamespt  still working on it?

[2018-10-04 15:00] dieterpl commented on #223
Can you assign me to this?

[2018-10-04 16:34] sameerchoubey opened #281 "[Algo] Merge Sort (Java Implementation)"
Please assign this to me.

[2018-10-04 16:35] sameerchoubey opened #282 "[Algo] Bubble Sort (Python3 Implementation)"
Please assign this to me.

Thanks

[2018-10-04 16:35] sangamcse commented on #281
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/223 ([Algo] Selection Sort [java]), https://github.com/NITSkmOS/Algorithms/issues/153 ([Algo] Insertion Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/63 ([Algo] Insertion Sort [Java]), and https

[2018-10-04 16:36] sangamcse commented on #282
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/146 ([Algo] Quick Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/19 ([Algo]: Add Bubble Sort in C), and https://github.com

[2018-10-04 16:41] 123vivekr commented on #146
@zeddmaxx This issue is already assigned. I have submitted a PR and its almost complete.
You can check for other unassigned issues.

[2018-10-04 17:09] sangamcse commented on #282
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/13.
Please go through the issue history before creating new issue.

[2018-10-04 17:09] #282 closed

[2018-10-04 17:10] sangamcse commented on #281
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/149

[2018-10-04 17:10] #281 closed

[2018-10-04 18:28] ramemanatingideas commented on #222
is the issue still open?

[2018-10-04 18:36] asterisk30 commented on #56
this issue is marked open. can i do this? @sangamcse

[2018-10-04 23:39] gilsondia commented on #33
can you assign this issue for me

[2018-10-05 08:13] mariush2 commented on #263
I have added the necessary changes to the README file. I am however not aware how to add the changes to .misc, .coafile and .editorconfig. Could you possible sort this out for me? To use Julia you need to install it from here: <a href="https://julialang.org/">https://julialang.org/</a>

[2018-10-05 09:28] Divyansh00 commented on #54
Sorry, I am not able to work on the issue right now as I am caught up with
my college exams. Will be able to look into it after 8th October.

On Thu, Oct 4, 2018 at 3:13 PM Sangam Kumar <notifications@github.com>
wrote:

[2018-10-05 13:01] paawan01 commented on #222
@ramemanatingideas It is. Will be submitting a PR shortly.

[2018-10-05 14:17] RohanGoyal2014 commented on #16
Fixed. Please look into it

[2018-10-05 18:08] LSmith-Zenoscave commented on #53
I can implement this! I can start if I am assigned.

[2018-10-05 18:10] AndyS12 opened #293 "Directory structure should be changed"
For example: **mergersort** is implemented in python in directory **mergesort/Python**.
However **binary-search** directory structure is : Binary-search....then there are sub-directories listing programs in different languages.
I suggest keeping one directory structure will be good. The directory structure which I suggest is:
[Algorithm-name]/[cpp | python | c | java]/[Algorithm-name].ext
So for m

[2018-10-05 18:11] sangamcse commented on #293
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/56 ([Data Structure] Queue [C]), https://github.com/NITSkmOS/Algorithms/issues/55 ([Data Structure] Queue [Python]), https://github.com/NITSkmOS/Algorithms/issues/57 ([Data Structure] Queue [Java]), https://github.com/NITSkmOS/Algorithms/issues/47 ([Data Structure] AVL Tree [C]), and h

[2018-10-05 18:15] AndyS12 commented on #293
Can you assign this to me?

[2018-10-05 18:33] jerry-le opened #294 "Python - handle exception when get top of empty stack"
Need to check if the stack is empty before getting top of stack

[2018-10-05 18:34] sangamcse commented on #294
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/NITSkmOS/Algorithms/issues/37 ([DataStructure] Stack [Python]).

[2018-10-05 19:18] denysmedynskyi opened #296 "[Algo] Quick Sort [Elixir]"
Hello @paawan01 !
What do you think about adding algorithms written in Elixir ( https://elixir-lang.org/ )

[2018-10-05 19:19] sangamcse commented on #296
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/146 ([Algo] Quick Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), and https://github.com/NI

[2018-10-05 19:36] paawan01 opened #299 "[Algo] Counting Sort [C++]"
https://en.wikipedia.org/wiki/Counting_sort

[2018-10-05 19:36] #215 closed

[2018-10-05 19:37] paawan01 commented on #299
Realised while implementing radix sort that counting sort also doesn't exist for this repo.
@sangamcse Can you assign me this ?

[2018-10-05 19:37] sangamcse commented on #299
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/258 ([Algo] Merge Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/250 ([Algo] Quick Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/62 ([Algo] Insertion Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), and https://git

[2018-10-05 19:38] sangamcse commented on #293
I don't understand it. What you suggested is already there. Check again.

---- cpp / merge-sort.cpp
---- python / merge-sort.py
---- java / merge-sort.java
---- c / merge-sort.c

[2018-10-05 19:41] AndyS12 commented on #293
Sorry my mistake :)

[2018-10-05 19:41] #293 closed

[2018-10-05 19:49] paawan01 commented on #296
Hi @denysmedynskyi !
I haven't used Elixir any time so I'm not too sure about that.
Besides @sangamcse would be the better person to ask whether to include in this repo or not.

[2018-10-05 20:02] reidhoch opened #302 "[Algo] Add Python Bubble Sort"
Add a simple implementation of bubble sort in Python.

[2018-10-05 20:03] sangamcse commented on #302
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/13 ([Algo]: Add Bubble Sort in python), https://github.com/NITSkmOS/Algorithms/issues/238 ([Algo] Coin Change Problem [Python]), https://github.com/NITSkmOS/Algorithms/issues/14 ([Algo]: Add Heapsort in Python), https://github.com/NITSkmOS/Algorithms/issues/133 ([Algo] Shell Sort [Pyth

[2018-10-05 20:19] halderjoydeep opened #305 "[Algo] Add Knapsack problem [Python]"
I want to implement this [algorithm](https://en.wikipedia.org/wiki/Knapsack_problem)

[2018-10-05 20:21] sangamcse commented on #305
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/238 ([Algo] Coin Change Problem [Python]), https://github.com/NITSkmOS/Algorithms/issues/13 ([Algo]: Add Bubble Sort in python), https://github.com/NITSkmOS/Algorithms/issues/14 ([Algo]: Add Heapsort in Python), https://github.com/NITSkmOS/Algorithms/issues/302 ([Algo] Add Python Bubbl

[2018-10-05 20:53] jeffhsta commented on #296
Hey @denysmedynskyi assigns this task to me.

[2018-10-06 02:49] jmmanley commented on #35
@iremlaya are you still working on this? I'd be happy to take it up.

[2018-10-06 09:58] koderproxy commented on #299
can i take this issue

[2018-10-06 10:23] coderobe opened #316 "bubble_sort c++ implementation was (accidentally) replaced with C version"
https://github.com/NITSkmOS/Algorithms/commit/6b2ca3080ba3af030b72e34890f1f2a8201c1285#diff-3d53538d5b15b0bc3e6e499c6b48d150 seems to have moved the wrong file (see commit diff)

[2018-10-06 10:50] nyan-lin-tun opened #317 "[Data Structure] Queue [Java]"
https://en.wikipedia.org/wiki/Queue_(abstract_data_type)

[2018-10-06 10:50] nyan-lin-tun commented on #317
Please assign to me.I would like to work on it

[2018-10-06 10:51] sangamcse commented on #317
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/57 ([Data Structure] Queue [Java]), https://github.com/NITSkmOS/Algorithms/issues/56 ([Data Structure] Queue [C]), https://github.com/NITSkmOS/Algorithms/issues/49 ([Data Structure] AVL Tree [Java]), https://github.com/NITSkmOS/Algorithms/issues/39 ([DataStructure] Stack [Java]), and h

[2018-10-06 13:06] amrithm98 commented on #22
Can I take this up ? I have good experience in algorithms if it's not done yet

[2018-10-06 13:13] zeddmaxx commented on #316
Can I work on this?

[2018-10-06 13:15] zeddmaxx commented on #302
Can I work on this?

[2018-10-06 16:30] Sartech-B commented on #305
I am taking this issue!

[2018-10-06 16:55] Sartech-B commented on #302
I will take this!

[2018-10-06 17:17] zeddmaxx commented on #302
@Sartech-B I've already submitted a PR for this!

[2018-10-06 19:32] vivekcrux opened #338 "[Algo] Add floyd warshall algorithm for finding all pair shortest path in a connected graph [CPP]"
#287 Given the pull request.

[2018-10-06 19:33] sangamcse commented on #338
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/181 ([Algo] Dijkstra’s Shortest Path Algorithm [C]), https://github.com/NITSkmOS/Algorithms/issues/182 ([Algo] Dijkstra’s Shortest Path Algorithm [Java]), https://github.com/NITSkmOS/Algorithms/issues/183 ([Algo] Dijkstra’s Shortest Path Algorithm [Python]), https://github.com/NITSkmOS

[2018-10-06 22:18] sangamcse commented on #305
@Sartech-B did you care to read any comments in this issue?

[2018-10-07 02:44] sangamcse commented on #29
@diegoramosb I have sent you an invitation.

[2018-10-07 11:04] eloc3147 opened #358 "[Algo] Bubble Sort [Rust]"
https://en.wikipedia.org/wiki/Binary_search_algorithm

I realize that Rust is not currently an accepted language, but I think it should be considered.
If necessary, I could contribute Rust code samples for every currently accepted algorithm.

[2018-10-07 11:05] sangamcse commented on #358
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/19 ([Algo]: Add Bubble Sort in C), https://github.com/NITSkmOS/Algorithms/issues/146 ([Algo] Quick Sort [C]), and https://github.com

[2018-10-07 16:41] sangamcse commented on #358
Please read the documentation first. Before adding any algorithms in other languages in the repo, we have many settings to do. So please propose a language first. Thanks for your time.

[2018-10-07 16:41] #358 closed

[2018-10-07 16:53] SaashaJoshi opened #369 "Adding linked list in C++"
Adding linked_list.cpp

[2018-10-07 16:54] sangamcse commented on #369
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/27 ([DataStructure] Linear Linked List [C++]), https://github.com/NITSkmOS/Algorithms/issues/258 ([Algo] Merge Sort [C++]), https://github.com/NITSkmOS/Algorithms/issues/20 ([Algo]: Add Bubble Sort in C++), https://github.com/NITSkmOS/Algorithms/issues/186 (euclidean_gcd in c++), and h

[2018-10-07 18:55] gdhameeja opened #379 "[Algo] Counting Sort [java]"
#377
Going through repo I couldn't find an algo implemented for counting sort in java.
I have created a pull request for the same.

[2018-10-07 18:56] sangamcse commented on #379
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/150 ([Algo] Quick Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/223 ([Algo] Selection Sort [java]), https://github.com/NITSkmOS/Algorithms/issues/18 ([Algo]: Add Bubble Sort in Java), and https:

[2018-10-07 19:05] paawan01 commented on #338
Since the PR is closed. Is anybody working on this ?
@vivekcrux ?
if not can I be assigned on this @sangamcse ?

[2018-10-07 19:06] paawan01 commented on #181
Is anybody on this ?
@aneels3 @bihanviranga ?

[2018-10-07 19:16] gdhameeja commented on #379
I can take up insertion sort and selections sort.
@sangamcse

[2018-10-07 19:22] paawan01 opened #380 "[Data Structure] Fenwick Tree [C]"
https://en.wikipedia.org/wiki/Fenwick_tree

[2018-10-07 19:26] paawan01 opened #381 "[Algo] Counting Sort [C]"
https://en.wikipedia.org/wiki/Counting_sort

[2018-10-07 19:27] sangamcse commented on #381
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/146 ([Algo] Quick Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/247 ([Algo] Insersion Sort [C]), and https://github.com/N

[2018-10-07 19:29] paawan01 commented on #381
Would like to take this as well.

[2018-10-07 19:31] paawan01 commented on #181
Oh Thanks @bihanviranga ! Would like to take this @sangamcse

[2018-10-07 20:19] sangamcse commented on #380
@paawan01 complete the assigned issues first for now

[2018-10-08 06:36] mitrish commented on #379
i can help with the java implementation of counting sort. Please assign it to me @gdhameeja

[2018-10-08 07:31] uemarica commented on #379
Hello!
I'm sorry for this time from next time i'll wait for getting assigned to a task.

[2018-10-08 07:42] gdhameeja commented on #379
I already have a pull request #377 in reference to couting sort implementation in java waiting to be merged.

[2018-10-08 09:13] rajat1433 commented on #380
Can I Implement the Fenwick Tree for C++.

[2018-10-08 16:05] mandardeshpande opened #405 "Binary Search Algo in Javascript"

[2018-10-08 16:06] mandardeshpande commented on #405
@sangamcse : can I work on this?

[2018-10-08 16:06] #305 closed

[2018-10-08 16:06] sangamcse commented on #405
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/46 ([Algo] Binary Search [Java]), https://github.com/NITSkmOS/Algorithms/issues/44 ([Algo] Binary Search [C]), https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Search [Python]), https://github.com/NITSkmOS/Algorithms/issues/52 ([Data Structure] Binary Search Tree [Java])

[2018-10-08 17:02] sangamcse commented on #405
We currently don't do javascript in this repo.

[2018-10-08 17:02] #405 closed

[2018-10-09 15:53] 123vivekr opened #422 "[Algo] Heap Sort [CPP]"
https://en.wikipedia.org/wiki/Heapsort

[2018-10-09 15:53] 123vivekr commented on #422
@sangamcse Please assign this to me.

[2018-10-09 15:54] sangamcse commented on #422
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/23 ([Algo]: Add Heapsort in C), https://github.com/NITSkmOS/Algorithms/issues/135 ([Algo] Shell Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), and https://github.com/NI

[2018-10-09 16:52] LHenrique42 opened #423 "[Algo] Heap Sort [C]"
https://en.wikipedia.org/wiki/Heapsort

[2018-10-09 16:53] sangamcse commented on #423
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/422 ([Algo] Heap Sort [CPP]), https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/23 ([Algo]: Add Heapsort in C), https://github.com/NITSkmOS/Algorithms/issues/135 ([Algo] Shell Sort [C]), and https://github.com/NITSk

[2018-10-09 19:54] PinkiePie1189 commented on #23
hi. I added a solution solving this a few days ago and it passed the automatic check but I was still not manually reviewed. Can you please take a look at it? https://github.com/NITSkmOS/Algorithms/pull/336

[2018-10-12 16:05] #299 closed

[2018-10-12 16:13] sangamcse commented on #423
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/23

[2018-10-12 16:13] #423 closed

[2018-10-12 16:17] sangamcse commented on #422
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/22

[2018-10-12 16:17] #422 closed

[2018-10-12 16:21] sangamcse commented on #380
Invited. Accept it and I will assign you.

Yes. See the other code.

[2018-10-13 05:50] sangamcse commented on #27
@bihanviranga still looking for this issue?

[2018-10-13 16:12] bihanviranga commented on #27
Yep. Will be happy to implement it. Shall I start ?

[2018-10-13 17:49] #222 closed

[2018-10-13 18:05] #147 closed

[2018-10-13 19:05] paawan01 commented on #380
@sangamcse Almost all my assigned issues are done.
I'd like to take this in case @rajat1433 is not.

[2018-10-14 05:44] #381 closed

[2018-10-14 06:02] sangamcse commented on #380
I have assigned to @rajat1433. Let him reply.
And remind me if he is not working anymore on this issue, @paawan01

[2018-10-14 06:09] sangamcse commented on #316
https://github.com/NITSkmOS/Algorithms/blob/master/bubble_sort/Cpp/bubble_sort.cpp looks fine to me 😄

[2018-10-14 06:09] #316 closed

[2018-10-14 06:10] sangamcse commented on #316
Fixed in https://github.com/NITSkmOS/Algorithms/commit/99cd8fbd0eaef3dc2de43f96f1d97d896ef31be9#diff-3d53538d5b15b0bc3e6e499c6b48d150
Related to https://github.com/NITSkmOS/Algorithms/issues/240

[2018-10-14 09:29] #27 closed

[2018-10-14 10:32] #40 closed

[2018-10-14 10:42] sangamcse commented on #22
@amrithm98 a PR is already open at https://github.com/NITSkmOS/Algorithms/pull/107

[2018-10-14 10:45] sangamcse commented on #34
@LSmith-Zenoscave still looking for it? I have sent you the invitation, ping me on gitter in case you want to take this. https://gitter.im/NITSkmOS/algo

[2018-10-14 10:49] #294 closed

[2018-10-15 16:49] PrathameshPatole commented on #210
What exactly needs to be done ? I am new to open source community . Can you help me out ?

[2018-10-15 18:39] #54 closed

[2018-10-15 18:49] sangamcse commented on #210
Currently, in the [README](https://github.com/NITSkmOS/Algorithms#contributing), it shows how to fork, create a branch and do the changes and then create Pull Request. It doesn't mention that the issue should be assigned first before opening a PR which is given in [here](https://github.com/NITSkmOS/Algorithms/blob/master/CONTRIBUTING.md#how-to-contribute-an-implementation-code). So we need a parag

[2018-10-16 11:43] w4rb0y commented on #44
@sangamcse  Can you assign this to me?

[2018-10-16 13:04] #18 closed

[2018-10-17 05:32] #145 closed

[2018-10-17 07:43] sameerchoubey commented on #13
@sangamcse  Please assign this issue to me.

[2018-10-17 14:17] rajat1433 commented on #380
Added the fenwick tree in cpp.

[2018-10-18 09:32] paawan01 commented on #380
@rajat1433 This was for C. For Cpp I guess somebody else was already assigned.

[2018-10-18 20:59] #218 closed

[2018-10-19 05:39] rajat1433 commented on #380
I was assigned for cpp only. Please go thru the above conversations.

[2018-10-19 19:02] sangamcse commented on #380
Unassigned due to c++ implementation request at https://github.com/NITSkmOS/Algorithms/issues/380#issuecomment-427767548. My mistake.

[2018-10-19 19:37] #220 closed

[2018-10-21 06:37] akshayg08 commented on #265
can i take this ?

[2018-10-24 18:14] #13 closed

[2018-10-25 10:54] Devdutt-Shenoi opened #446 "[Algo] Selection Sort [python]"
Going through the repo I couldn't find an algorithm implemented for selection sort in python.
I have created a pull request for the same.

[2018-10-25 10:55] sangamcse commented on #446
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/305 ([Algo] Add Knapsack problem [Python]), https://github.com/NITSkmOS/Algorithms/issues/238 ([Algo] Coin Change Problem [Python]), https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Search [Python]), https://github.com/NITSkmOS/Algorithms/issues/14 ([Algo]: Add Heapsort

[2018-10-25 19:00] #48 closed

[2018-10-26 16:46] akshayrpatel opened #451 "[Algo] Merge Sort [Java]"
Is Merge Sort in Java implemented yet?

I see an [issue](https://github.com/NITSkmOS/Algorithms/issues/149) that was closed regarding this but I don't see the algorithm file in the source code.

[2018-10-26 16:48] sangamcse commented on #451
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/223 ([Algo] Selection Sort [java]), https://github.com/NITSkmOS/Algorithms/issues/174 ([Algo] Radix Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/150 ([Algo] Quick Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/379 ([Algo] Counting Sort [java]), and https://g

[2018-10-26 20:50] sangamcse commented on #31
@yog-singh I have sent you the invitation. Accept it and join our gitter channel for any help.

[2018-10-26 20:59] sangamcse opened #461 "Activate TravisBuddy"

[2018-10-26 21:05] #461 closed

[2018-10-28 04:59] sangamcse commented on #149
@fedesassone still waiting for you to accept the invitation.

[2018-10-28 17:37] sangamcse commented on #149
@fedesassone assigned. Also, don't forget to read CONTRIBUTING.md documentation before opening a PR.

[2018-10-29 06:03] sukhbeer commented on #250
Hii, I Have a solution Can I make a pull request.

[2018-10-29 13:31] sangamcse commented on #250
@sukhbeer No. Someone is already working on this issue.

[2018-10-29 14:40] #31 closed

[2018-10-29 19:57] #149 closed

[2018-10-29 20:19] yashasingh opened #480 "[Documentation] open source badge for README.md"
More badges like [![Open Source Love](https://img.shields.io/badge/Open%20Source-%E2%9D%A4-red.svg)](https://github.com/NITSkmOS/Algorithms) can be added to the README.md :smile:

[2018-10-29 20:21] sangamcse commented on #480
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/209 (Remove Codacy Badge and Include Travis Badge in README), and https://github.com/NITSkmOS/Algorithms/issues/159 (Add gitter badge).

[2018-10-29 20:39] #480 closed

[2018-10-29 21:05] yashasingh opened #482 "[Algo] Selection sort [Cpp]"
Repository does not include the cpp implementation for Selection sort.

[2018-10-29 21:06] sangamcse commented on #482
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/145 ([Algo] Selection Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/247 ([Algo] Insersion Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/147 ([Algo] Merge Sort [C]), https://github.com/NITSkmOS/Algorithms/issues/381 ([Algo] Counting Sort [C]), and https://github.co

[2018-10-29 21:20] #214 closed

[2018-10-29 22:35] wasifferoze opened #484 "Binary search tree Java implementation is not in list"

[2018-10-29 22:36] sangamcse commented on #484
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/43 ([Algo] Binary Search [Python]), https://github.com/NITSkmOS/Algorithms/issues/51 ([Data Structure] Binary Search Tree [Python]), https://github.com/NITSkmOS/Algorithms/issues/234 ([Data Structure] Skip List [Python]), https://github.com/NITSkmOS/Algorithms/issues/188 (binary-search

[2018-10-29 22:36] wasifferoze commented on #484
please assign to me. I want to work on this

[2018-10-29 23:20] wasifferoze opened #486 "readme.md reference to implementation folder is missing"

[2018-10-29 23:21] sangamcse commented on #486
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/480 ([Documentation] open source badge for README.md), and https://github.com/NITSkmOS/Algorithms/issues/281 ([Algo] Merge Sort (Java Implementation)).

[2018-10-29 23:41] #486 closed

[2018-10-30 02:08] AndroidonEarth commented on #482
I'm working on this!

[2018-10-30 02:38] sangamcse commented on #484
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/52

[2018-10-30 02:38] #484 closed

[2018-10-30 12:52] yashasingh opened #493 "[Documentation] Incorrect indentation in README.md"
On minutely observing [README.md  line 27](https://raw.githubusercontent.com/NITSkmOS/Algorithms/master/README.md), consists of TAB Spacing instead of default SPACE spacing. This will lead new contributors with indentation issues.

To-Do:
- [x] Correct the indentation and convert TAB spacing to SPACE spacing.

Level: Easy

[2018-10-30 12:54] sangamcse commented on #493
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/480 ([Documentation] open source badge for README.md), and https://github.com/NITSkmOS/Algorithms/issues/486 (readme.md reference to implementation folder is missing).

[2018-10-30 13:07] Mutmatt commented on #493
I can knock this one out if you don't mind

[2018-10-30 13:14] Mutmatt commented on #493
How do we feel about adding a pre-commit hook like prettier to auto format files before a commit happens so this doesn't occur again.

https://prettier.io/docs/en/precommit.html

[2018-10-30 13:26] yashasingh opened #495 "[Documentation] incorrect contributors count value in README.md"
The contributors count badge in incorrectly mapped.
Actual contributors count for NITSkmOS/Algorithms is 30.

[2018-10-30 17:48] sangamcse commented on #493
I will add MarkdownBear and SpaceConsistencyBear of coala.io for the md file

[2018-10-30 17:48] #493 closed

[2018-10-30 18:00] #495 closed

[2018-10-30 23:56] pentalpha opened #508 "[Algo] Heap sort [java]"
This repository is missing a Heap sort implementation using Java.

[2018-10-30 23:57] pentalpha commented on #508
I wish to be assigned to this issue

[2018-10-30 23:58] sangamcse commented on #508
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/NITSkmOS/Algorithms/issues/451 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/149 ([Algo] Merge Sort [Java]), https://github.com/NITSkmOS/Algorithms/issues/23 ([Algo] Heapsort [C]), https://github.com/NITSkmOS/Algorithms/issues/379 ([Algo] Counting Sort [java]), and https://github.com/

[2018-10-31 05:07] #482 closed

[2018-10-31 09:06] #258 closed

[2018-10-31 11:04] sangamcse commented on #508
Duplicate of https://github.com/NITSkmOS/Algorithms/issues/21

[2018-10-31 11:06] #508 closed

[2018-10-31 13:20] #150 closed

[2018-11-01 18:34] NeelavaChatterjee commented on #56
Please assign this to me

[2018-11-03 01:49] coderobe commented on #316
not really, compare it to the implementation at https://github.com/NITSkmOS/Algorithms/commit/6b2ca3080ba3af030b72e34890f1f2a8201c1285#diff-3d53538d5b15b0bc3e6e499c6b48d150

[2018-11-15 16:36] sangamcse commented on #316
See the current version

[2019-03-25 16:37] #263 closed

[2019-04-04 18:58] anasshamoon12002 commented on #174
Kindly, check m

[2019-04-04 18:59] anasshamoon12002 commented on #174
Kindly,  check my PR for this issue.

[2019-09-26 15:02] sourabbr commented on #53
I would like to implement this. Can you assign this to me.

[2019-10-09 19:51] JHero23 opened #549 "Optional Ruby Langauge?"
I have a question, is it ok if we can use Ruby programming language for our algorithms and data structure commits. I use Ruby programming language as well. Also will it be valid for our hacktoberfest commits?

[2019-10-11 10:35] abhijeetk698 commented on #16
Can i work on it??

[2019-10-11 10:44] sangamcse commented on #549
Yes. For that, someone needs to add configurations for Travis and coala.

[2019-10-11 10:46] sangamcse commented on #549
Any commit that gets merged in this repo is counted as hacktoberfest commit.

[2019-10-11 21:02] abhijeetk698 commented on #16
On it !!

[2019-10-13 01:00] Sid200026 opened #558 "[Data Structure] Heaps in Cpp"
The repo doesn't contain any code for heap data structure. I have made a pull request for the same.
GH-559

[2020-04-12 16:49] #558 closed

[2020-09-25 15:29] VershaCoder commented on #35
Hi @sangamcse
is it done? or still open?
Thanks

[2020-09-26 04:33] sangamcse commented on #35
It is still open @VershaCoder. Make sure to go through contribution guidelines

[2020-10-01 04:19] varunkmr19 commented on #44
If it's still open then assign me, please?

[2020-10-03 08:22] sangamcse opened #592 "Travis script has some deprecated setting"
Travis is getting error on every build since some dependencies are deprecated. That needs to be upgraded.

[2020-10-05 17:11] adityajsingh commented on #41
Hey , if this is still open can i work on it?

[2020-10-08 18:27] #592 closed

[2020-10-10 01:16] JayantGoel001 opened #595 "Trie Data Structure In Java"
I want to add Trie Data Structutre In Java.Please Assign Me.

[2020-10-17 13:09] bobbysaprey420 commented on #16
Assign this to me

[2020-10-17 13:10] bobbysaprey420 commented on #22
Assign this work to me

[2020-10-17 13:11] bobbysaprey420 commented on #32
Assign this work to me

[2020-10-17 13:11] bobbysaprey420 commented on #41
I would like to contribute on C++

[2020-10-30 07:03] 6vedant commented on #595
You can create Trie data structure class , and create a PR for review.

[2020-12-04 10:02] #595 closed